<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><% title %></title>
</head>
<body>
  <table>
    <!-- Lihat orderan dari user semua -->
    <thead>
      <tr>
        <th>Transaction Id</th>
        <th>Username</th>
        <th>Product Name</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < dataTransaction.length; i++) { %> 
        <tr>
          <td><%= dataTransaction.id %></td>
          <td><%= dataTransaction.User.username %></td>
          <td><%= dataTransaction.Product.productFullname %></td>
          <td><%= dataTransaction.Product.price * dataTransaction.total %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>