<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>

<body>
  <!-- Transaksi nama barang , total -->
  <table>
    <thead>
      <tr>
        <th>Nama Barang</th>
        <th>Total Pembelian</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < dataTransaction.length; i++) { %> 
      <tr>
        <td><%= dataTransaction.Product.name %></td>
        <td><%= dataTransaction.qty %></td>
      </tr>
      <% } %>
    </tbody>

  </table>
</body>

</html>